<!doctype html>
<html lang="en">
    {% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Berkshire+Swash&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Italianno' rel='stylesheet'>
    <title>Form validation</title>
 
  </head>
 
 
 
  <body>
 
    <!-- Navigation -->
 
 <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
    <div class="container-fluid fixed-top sticky">      
      
        <a  class="navbar-brand" href="#home"><span id="myname">Rajvi Parekh</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
           <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a  class="nav-link"  href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a  class="nav-link"  href="#profile">Profile</a>
            </li>
            <li class="nav-item">
              <a  class="nav-link"  href="#experiences">Experiences</a>
            </li>
            <li class="nav-item">
              <a  class="nav-link"   href="#abilities">Abilities</a>
            </li>
            <li class="nav-item">
              <a  class="nav-link"  href="#office">Office</a>
            </li>
            <li class="nav-item">
              <a  class="nav-link"  href="#reach-me">Reach me</a>
            </li>
            <li class="nav-item">
              <a  class="nav-link"  href="#contact-me">Contact me</a>
            </li>
          </ul>
 
        </div>
    </div>
</nav>
 
   
    
 
 
 
 
 
 
 <!-- experiences -->
<div id="experiences" class="container" >
  <div class="background container-fluid">
  <div class="layer">
  <h1>Experiences</h1>
  <p class="lead"><i>&quotTurn your wounds into wisdom&quot</i></p>
 
  <hr>
  <h3>Education</h3> <br>
 
  <strong>DJ Sanghvi College of Engineering</strong> <br>
  August 2019- May 2023. <br>
  CGPA-9.25 <br> <br>
  <strong>IES Junior College</strong>  <br>
  July 2017- February 2019. <br>
  HSC Science- 82% <br>
  MHCET: 98.9 percentile<br><br>
 
  <strong>St. Gregorios High School</strong><br>
  April 2004- February 2017.<br>
  ICSE:96%<br>
  Optional chosen: Computer Applications.<br><br>
 
  <h3>Experiences</h3>
  <strong>UppSkale</strong> <br>
  An HR tech start-up based in Ahmedabad. Worked there for two months with the strategy and finance team. Helped in formulating strategies for business development. <br><br>
 
  <strong>AIESEC in Mumbai</strong><br>
  An active, management body member of this youth run organisation helping with operations of incoming global talent, leadership development and corporate relations. I have been a part pf this organisation for over 7 months.
 
  </div>
  </div>
</div>
 
 
<!-- abilities-->
<div class="container" id="abilities">
  <h1>Abilities</h1>
  <div class="lead"><i>&quotDo not lower your goals to the height of your abilities. Instead, heighten your abilities to the level of your goals&quot</i> <hr></div>
  <h3>Skills</h3>
  <div class="row">
 
    
  <div class="col-lg-6">
    <ul class="no-bullets">
    
        
      <li>
        <span class="ability-title">Java</span>
        <span class="ability-score">
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        </span>
      </li>
          
      <li>
        <span class="ability-title">CSS(3)</span>
        <span class="ability-score">
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star filled"></span>
        </span>
        </span>
      </li>
          
      <li>
        <span class="ability-title">HTML(5)</span>
        <span class="ability-score">     
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star filled"></span></span>
        </span>
      </li>
      
      <li>
        <span class="ability-title">Python</span>
        <span class="ability-score">
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        </span>
      </li>
      
      <li>
        <span class="ability-title">Google Chrome</span>
        <span class="ability-score">
        
                
          <span class="glyphicon glyphicon-star filled"></span>
          
                
          <span class="glyphicon glyphicon-star filled"></span>
          
                
          <span class="glyphicon glyphicon-star filled"></span>
          
                
          <span class="glyphicon glyphicon-star filled"></span>
          
                  
        </span>
      </li>
      
      <li>
        <span class="ability-title">MS Excel</span>
        <span class="ability-score">
        
                
          <span class="glyphicon glyphicon-star filled"></span>
          
                
          <span class="glyphicon glyphicon-star filled"></span>
          
                
          <span class="glyphicon glyphicon-star filled"></span>
          
                
          <span class="glyphicon glyphicon-star filled"></span>
       </span>
      </li>
      
      <li>
        <span class="ability-title">MS Word</span>
        <span class="ability-score">
        
                
          <span class="glyphicon glyphicon-star filled"></span>
          
                
          <span class="glyphicon glyphicon-star filled"></span>
          
                
          <span class="glyphicon glyphicon-star filled"></span>
          
                
          <span class="glyphicon glyphicon-star filled"></span>
          
                
          <span class="glyphicon glyphicon-star filled"></span>
          
                  
        </span>
      </li>
      
      <li>
        <span class="ability-title">Notepad++</span>
        <span class="ability-score">
        
                
          <span class="glyphicon glyphicon-star filled"></span>
          
                
          <span class="glyphicon glyphicon-star filled"></span>
          
                
          <span class="glyphicon glyphicon-star filled"></span>
          
                
          <span class="glyphicon glyphicon-star filled"></span>
          </span>
          
                  
        </span>
      </li>
      
       <li>
        <span class="ability-title">GitHub</span>
        <span class="ability-score">
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star"></span></span>
        </span>
      </li>
        
      <li>
        <span class="ability-title">SublimeText</span>
        <span class="ability-score">
        
                
          <span class="glyphicon glyphicon-star filled"></span>
          
                
          <span class="glyphicon glyphicon-star filled"></span>
          
                
          <span class="glyphicon glyphicon-star filled"></span>
          
                
          <span class="glyphicon glyphicon-star filled"></span>
          
          
          </span>
      </li>
 
    </ul>
  
  </div>
  <div class="col-lg-6">
    <ul class="no-bullets">
      <li>
        <span class="ability-title">Windows</span>
        <span class="ability-score">
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        </span>
      </li>
 
      <li>
        <span class="ability-title">Canva</span>
        <span class="ability-score">
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        </span>
      </li>
 
      <li>
        <span class="ability-title">Problem solving</span>
        <span class="ability-score">
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        </span>
      </li>
 
      <li>
        <span class="ability-title">Bootstrap Framework</span>
        <span class="ability-score">
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        </span>
      </li>
 
      <li>
        <span class="ability-title">C Programming</span>
        <span class="ability-score">
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        </span>
      </li>
 
      <li>
        <span class="ability-title">Management</span>
        <span class="ability-score">
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star"></span>
        </span>
      </li>
 
      <li>
        <span class="ability-title">Communication skills</span>
        <span class="ability-score">
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
       
        </span>
      </li>
 
      <li>
        <span class="ability-title">Dancing</span>
        <span class="ability-score">
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        </span>
      </li>
    </ul> 
  </div>
 
 
  <h3 class="col-12">Languages:</h3>
  <div class="row">
    <div class="col-lg-6">
  <ul class="no-bullets">
    <li>
        <span class="ability-title">English</span>
        <span class="ability-score">
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        </span>
      </li><li>
        <span class="ability-title">Hindi</span>
        <span class="ability-score">
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        </span>
      </li><li>
        <span class="ability-title">Gujarati</span>
        <span class="ability-score">
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        <span class="glyphicon glyphicon-star filled"></span>
        </span>
      </li>
  </ul>
</div>
</div>
</div>
</div>
 
<!-- office -->
 
<div class="container" id="office">
  <h1>Office</h1>
  <h3>Here is my Office <hr></h3>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3773.7328942549357!2d72.82081091489913!3d18.9432134871642!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7d1e25ee8439d%3A0x5acd924f2726ad2b!2sMarine%20Dr%2C%20Mumbai!5e0!3m2!1sen!2sin!4v1595663915144!5m2!1sen!2sin" width="300" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
  </iframe>
</div>
 
<!-- contact me -->
<div class="container" id="contact-me">
  <h1>Sign in <hr></h1>
  <div class="m-auto d-block">
    <form action="#" onsubmit="return validation()">
      
      <div class="form-group">
        <label>Full name:</label>
        <input type="text" name="user" class="form-control" id="user">
        <span id="username" class="text-danger font-weigh-bold"></span>
        
      </div>
 
       <div class="form-group">
        <label>Mobile number: </label>
        <input type="text" name="mobile" class="form-control" id="mobile-number">
        <span id="mobileno" class="text-danger font-weigh-bold"></span>
       </div>
 
       <div class="form-group">
        <label>E-mail: </label>
        <input type="text" name="email" class="form-control" id="email">
        <span id="emailid" class="text-danger font-weigh-bold"></span>
       </div>
 
      <div class="form-group">
        <label>Password: </label>
        <input type="text" name="pass" class="form-control" id="pass">
        <span id="password" class="text-danger font-weigh-bold"></span>
       </div>
 
       <div class="form-group">
        <label>Confirm password: </label>
        <input type="text" name="conpass" class="form-control" id="conpass">
        <span id="confirmpass" class="text-danger font-weigh-bold"></span>
       </div>
 
 
 
 
       <input type="submit" name="submit" value="submit" class="btn btn-success">
       <div></form>
 
    </form>
  </div>
 
 
</div>
</div>
<!--register-->
<div class="container" id="contact-me">
  <h1>Register<hr></h1>
  <div class="m-auto d-block">
    <form action="#" onsubmit="return validation()">
      
      <div class="form-group">
        <label>Full name:</label>
        <input type="text" name="user" class="form-control" id="user">
        <span id="username" class="text-danger font-weigh-bold"></span>
        
      </div>
 
       <div class="form-group">
        <label>Mobile number: </label>
        <input type="text" name="mobile" class="form-control" id="mobile-number">
        <span id="mobileno" class="text-danger font-weigh-bold"></span>
       </div>
 
       <div class="form-group">
        <label>E-mail: </label>
        <input type="text" name="email" class="form-control" id="email">
        <span id="emailid" class="text-danger font-weigh-bold"></span>
       </div>
 
      <div class="form-group">
        <label>Password: </label>
        <input type="text" name="pass" class="form-control" id="pass">
        <span id="password" class="text-danger font-weigh-bold"></span>
       </div>
 
       <div class="form-group">
        <label>Confirm password: </label>
        <input type="text" name="conpass" class="form-control" id="conpass">
        <span id="confirmpass" class="text-danger font-weigh-bold"></span>
       </div>
 
 
 
 
       <input type="submit" name="submit" value="submit" class="btn btn-success">
       <div></form>
 
    </form>
  </div>
 
 
</div></div>
 
<!--reach me-->
<div class="container" id="reach-me">
  <h1>Reach me <hr></h1>
  <div class="row">
  <div class="col-lg-4 col-md-4 col-sm-6 box">
    <div>
  <a href="mailto: rajviaparekh@gmail.com" target="_blank"><img src="https://img.icons8.com/fluent/48/000000/gmail.png"/></a>
  </div>
  <div>rajviaparekh@gmail.com</div>
  </div>
 
 
  <div class="col-lg-4 col-md-4 col-sm-6 box">
  <div>
  <a href="https://www.instagram.com/rajvi_parekh/" target="_blank"><img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/></a>
  </div>
  <div>rajvi_parekh</div>
  </div>
 
  <div class="col-lg-4 col-md-4 col-sm-6 box">
  <div>
  <a href="https://github.com/rajviparekh" target="_blank"><img src="https://img.icons8.com/fluent/48/000000/github.png"/></a>
  </div>
   <div>rajviparekh</div>
  </div>
 
  <div class="col-lg-4 col-md-4 col-sm-6 box">
  <div>
  <a href="https://www.linkedin.com/in/rajvi-parekh/" target="_blank"><img src="https://img.icons8.com/color/48/000000/linkedin.png"/></a>
  </div>
  <div>Rajvi Parekh</div>
  </div>
 
  <div class="col-lg-4 col-md-4 col-sm-6 box">
  <div>
  <a href="https://www.facebook.com/rajvi.parekh.90/" target="_blank"><img src="https://img.icons8.com/fluent/48/000000/facebook-new.png"/></a>
  </div>
  <div>Rajvi Parekh</div>
  </div>
 
 
  <div class="col-lg-4 col-md-4 col-sm-6 box">
  <div>
  <img src="https://img.icons8.com/color/48/000000/whatsapp.png"/>
  </div>
  <div>WhatsApp Number: 9769845142</div>
  </div>
 </div>
</div>
 
 
<script type="text/javascript">
 
  function validation(){
 
 
    var user = document.getElementById('user').value;
    var password = document.getElementById('pass').value;
    var conf = document.getElementById('conpass').value;
    var mobile = document.getElementById('mobile-number').value;
    var email = document.getElementById('email').value;
    var hasNumber = /\d/;
 
    if(user ==""){
      document.getElementById('username').innerHTML ="**Please enter a name";
      return false;
    }
 
    if((user.length <= 2) || (user.length > 20)){
     document.getElementById('username').innerHTML =" **Name should be between 2 to 20 characters";
      return false; 
    }
 
    if(hasNumber.test(user)){
    document.getElementById('username').innerHTML ="**Name cannot have number";
      return false;
    }
    
 
    if(password ==""){
      document.getElementById('password').innerHTML ="**Password should have atleast a number and letter";
      return false;
    }
 
 
    if((password.length <= 7) || (password.length > 20)){
     document.getElementById('password').innerHTML =" **Password should be between 7 to 20 characters";
      return false; 
    }
 
    if(conf ==""){
      document.getElementById('confirmpass').innerHTML ="**Enter password";
      return false;
    }
 
 
    if(password!=conf){
      document.getElementById('confirmpass').innerHTML ="**Passwords do not match";
      return false;
    }
 
    if(mobile ==""){
      document.getElementById('mobileno').innerHTML ="**Enter a number";
      return false;
    }
 
    if(isNaN(mobile)){
      document.getElementById('mobileno').innerHTML ="**Invalid number";
      return false;
    }
 
 
    if(mobile.length!=10){
      document.getElementById('mobileno').innerHTML ="**Enter a 10-digit mobile number";
      return false;
    }
 
    if(email ==""){
      document.getElementById('emailid').innerHTML ="**Please enter a valid E-mail";
      return false;
    }
 
    if( (email.indexOf('@') <= 0) || (email.indexOf('@')>=(email.length -1)) ){
      document.getElementById('emailid').innerHTML ="**Please enter a valid E-mail";
      return false;
    }
 
    if(email.charAt(email.length - 4)!='.'){
      document.getElementById('emailid').innerHTML ="**Please enter a valid E-mail";
 
    }
 
 
 
  }
 
 
</script>
 
</body>
</html>
 

