
    <form action="main" method="POST">
  
      {% csrf_token %}
      <input type="text" name="first_name" placeholder="first_name"><br>
      <input type="text" name="last_name" placeholder="last_name"><br>
      <input type="text" name="user_name" placeholder="user_name"><br>
      <input type="email" name="email" placeholder="email"><br>
      <input type="password" name="password" placeholder="password"><br>
      <input type="password" name="validpassword" placeholder="validpassword"><br>
      <input type="submit">
      
    </form>
      <div>